 <div class="breadcrumb">
    <a routerLink="/">Accueil</a>
    <span>/</span>
    <a routerLink="/profil">Profil</a>
</div>
<div class="page">
  <div class="page-header">
    <h1>Mes annonces</h1>
  </div>

  <div *ngIf="loading" class="loader-wrap"><i class="fa-solid fa-spinner fa-spin fa-2x"></i></div>

  <div *ngIf="!loading && annonces.length === 0" class="empty-state">
    <i class="fa-solid fa-box-open fa-2x"></i>
    <p>Vous n'avez pas encore d'annonces</p>
    <a routerLink="/annonces/new/create" class="btn-cta">Déposer une annonce</a>
  </div>

  <div *ngIf="!loading && annonces.length > 0" class="annonces-table">
    <div *ngFor="let a of annonces" class="annonce-row">
  
  <img [src]="getCoverUrl(a)" [alt]="a.title" class="item-img" loading="lazy"/>

  <a [routerLink]="['/annonces', a.id]" class="row-title">
    {{ a.title }}
  </a>

  <span class="row-status status-{{ a.status }}">{{ a.status }}</span>

  <span class="row-price">
    {{ a.isFree ? 'Gratuit' : a.isTroc ? 'Troc': (a.price + ' €') }}
  </span>

  <span class="row-date">
    {{ a.created_at | date:'dd/MM/yy' }}
  </span>

  <div class="row-actions">
    <a [routerLink]="['/annonces', a.id, 'edit']" class="btn-icon edit" title="Modifier">
      <i class="fa-solid fa-pen bg-green-600"></i>
    </a>
    <button class="btn-icon danger" (click)="deleteAnnonce(a.id)" title="Supprimer">
      <i class="fa-solid fa-trash bg-red-600"></i>
    </button>
  </div>

</div>
  </div>
</div>
