<nav class="categories-nav">
  <ul>

    <!-- TOUT -->
    <li>
      <a
        [routerLink]="['/annonces']"
        [ngClass]="{ 'active-all': isAllActive() }">
        <i class="fa-solid fa-border-all"></i> Tout
      </a>
    </li>

    <!-- DONS -->
    <li>
      <a
        [routerLink]="['/annonces']"
        [queryParams]="{ type: 'don' }"
        [ngClass]="{ 'active-don': isDonActive() }">
        <i class="fa-solid fa-gift"></i> Dons
      </a>
    </li>

    <!-- CATEGORIES -->
    <li *ngFor="let c of categories">
      <a
        [routerLink]="['/annonces']"
        [queryParams]="{ cat_id: c.id }"
        [ngClass]="{ 'active-cat': isCatActive(c.id) }">
        {{ c.nom }}
      </a>
    </li>

  </ul>
</nav>